@import url('https://fonts.googleapis.com/css?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Rum+Raisin&display=swap');
body {

    font-family: 'Playfair Display', serif;
}


h1, h2, h3, h4, h5, h6 {

    font-family: 'Rum Raisin', sans-serif;
    text-align: center;
    }

h1 {
    margin: 2rem;
    border-bottom: solid rgb(252, 178, 40);
    padding-bottom: 2rem;;
}

h2, h3, h4, h5, h6, p {
    margin: 1rem 0rem 2rem 1rem;
}

@media screen and (min-width: 576px) and (max-width: 992px){


}


@media screen and (min-width: 992px){


}